
//base
a{
    color: $base-text-color;
    &:hover,
    &:focus {
        color: $link-hover-color;
    }
}

// form
.btn-outline-inverse{
  @include button-variant-outline($btn-default-color, $btn-warning-bg, $btn-warning-bg, $white, $theme-color-secondary , $theme-color-secondary );
} 
.btn-outline{
  @include button-variant-outline(  $white, $theme-color-secondary , $theme-color-secondary , $btn-default-color, $theme-color-primary, $theme-color-primary );
} 

//block
.#{$block-selector} { 
    .#{$block-heading-selector}{
        color: $white;
        a{
            color: $block-module-heading-color;
        }         
        background:$block-module-heading-bg;
        
    }
    .#{$block-content-selector} {
        background: $block-module-content-bg;             
    }
}

// slidebar
.sidebar {
  .highlighted {
      .#{$block-heading-selector}{
          background: $block-module-highlighted-bg;
      }
  }
  .block-blue-light {
    .#{$block-heading-selector}{
      background: $block-blue-light-headding-color;
    }
    .#{$block-content-selector} {
      background: $block-blue-light-content-bg;
      .product-block{
          border-bottom: 1px solid $block-blue-light-border-color;
      }
    }    
  }
  .block-green {
    .#{$block-heading-selector}{
      background: $block-module-heading-bg;
    }
    .#{$block-content-selector} {
      background: $block-module-sidebar-content-bg;
      form {
        > div {
          &:hover {
            &:before {
              color: $base-icon-hover-color;
            }
          }
        }
      }
    }
  }
}

// Contextual variations
.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}


// block-variant($border, $heading-text-color, $heading-bg-color, $heading-border)
.#{$block-prefix}-highlighted {
    @include block-variant($block-module-highlighted-border, $white, $block-module-highlighted-bg, $block-module-highlighted-bg);
}

.#{$block-content-selector}{
    .carousel-control{
        color: $base-text-color;
        &:hover{
            color: $theme-color-default;
        }
    }
}


//layout
#topbar  {
    .container > .inner{
        @include container-layout-variant( $topbar-color, $topbar-bg, $topbar-link-color, $topbar-link-hover-color ); 
    }    
    .links-outline{
        a{ color: $topbar-link-hover-color; }
    }  
    .btn-group{
      .quick-setting{
          a{
            color: $base-text-color;
            &:hover{
                color: $link-hover-color;
            }
          }
      }
    }
}

#header-main{
   background: $headermain-outside-bg;
   .container > .inner{
        @include container-layout-variant($headermain-color, $headermain-bg, $headermain-color, $headermain-color-hover );   
   }
}

##{$app-brand-prefix}-mainnav {
    background: $mainnav-outside-bg;
    .container {
        @include container-layout-variant($mainnav-color, $mainnav-bg, $mainnav-color, $mainnav-color-hover);
    }
}

.footer-top{
    .container > .inner{
        @include container-layout-variant($footer-top-color, $footer-top-bg, $footer-top-color, $footer-top-color-hover );  
    }
}
.footer-center{
    > .inner {
        @include container-layout-variant($footer-center-color, $footer-center-bg, $footer-center-color, $footer-center-color-hover );  
    }
}   
.footer-bottom{
    > .inner{
        @include container-layout-variant($footer-bottom-color, $footer-bottom-bg, $footer-bottom-color, $footer-bottom-color-hover );      
    }
}

.footer-nav{ // copyright
    .container > .inner {
        @include container-layout-variant($footer-nav-color, $footer-nav-bg, $footer-nav-color, $footer-nav-color-hover );     
    }
    #powered {
        span {
            color: $footer-nav-color;
        }
    }
}

// prestashop module
.bullet.bullet-icon{
  li a{   
    &:hover:before{
      background: $footer-center-color-hover;
    }
  }
}
#footer{
  #newsletter_block_left{
    &.block{    
      .title_block{
          color: $footer-top-color-hover;          
      }
    }
  }
}

.box-services { 
  &:hover{    
    h4,
    .iconbox{
      color: $link-hover-color;
    }
  }
}
#social_block {
  ul {
    li {
      &.facebook {
        a {
          &:hover {
            &:before {
              background: $theme-color-secondary;
            }
          }
        }
      }
      &.twitter {
        a { 
          &:hover {
            &:before {
              background: $theme-color-secondary;
            }
          }
        }
      }
      &.rss {
        a {
          &:hover {
            &:before {
              background: $theme-color-secondary;
            }
          }
        }
      }
      &.youtube {
        a {
          &:hover {
            &:before {
              background: $theme-color-secondary;
            }
          }
        }
      }
      &.google-plus {
        a {
          &:hover {
            &:before {
              background: $theme-color-secondary;
            }
          }
        }
      }
      &.pinterest {
        a {
          &:hover {
            &:before {
              background: $theme-color-secondary;
            }
          }
        }
      }
    }
  }
}

// Tab nav pills
.block{
  .nav-pills {
    > li.active {
      > a{
		&,
		&:hover,
		&:focus {
			background-color: $nav-pills-active-link-hover-bg;
		}
        &:before{
          color: $nav-pills-active-link-hover-bg;
        }
      }    
    }
  }  
}

//prestashop page
.content_sortPagiBar{
  color: $product-filter-color;
	.display{
    .selected{
  		a {
		    background-color: $theme-color-secondary;
		    border: 1px solid $theme-color-secondary; 
		    .fa {
		         color: $white; 
		    }   
  		}
    }
	}
  .pagination{
    li {
      > a {
        &:hover, &:focus {
          color: $pagination-hover-color;
          border: 1px solid $pagination-hover-border;
          background-color: $pagination-hover-bg;
          > span {
            color: $pagination-hover-color;
          }
        }
      }
      &.active {
        > span {
          background: $pagination-active-bg;
          border: 1px solid $pagination-active-border;
          span {
            color: $pagination-active-color;
          }
        }
      }
    }
  }
} 

// BREADCRUMB
.breadcrumb {
	color: $breadcrumb-active-color;       
	a {
	  &:hover {
	      color: $breadcrumb-active-color;
	  }
	}

}

// module
#cart{        
    h4{
        color: $cart-heading-color;
    }
}
#layer_cart {
  .cross {
    &:hover {
      color: $link-hover-color; 
    }
  }
}

//CART steps
ul.step{
    li{
        &.step_current{
           background:$checkout-step-button-active-bg;
        }
    }
}

//step 5 - paiement
p.payment_module {
  a {
    &:hover {
      border: $main_boder_hover;
    }
  }
}

// search
.block_search {
  background: $search-bg-color;
  &:hover {
    .button {
      color: $search-icon-hover-color; 
    }
  }
}

// carousel-control
.#{$block-content-selector}{
  .carousel-control {
    &:hover {
        color: $base-hover-border-color;
        border: $main_boder_hover;
    }
  }
}

//menu
.#{$app-brand-prefix}-megamenu {
  /* menu level 1 */
  .navbar-nav{
    > li {
      > a{
        &:hover,&:focus,&:active {        
          background-color: $megamenu-link-bg-hover-color;
        }
      }
      &.dropdown {
        > a{
          &:hover,&:focus,&:active {       
            background-color: $megamenu-link-bg-hover-color;
          }
        }
      }
      &:active{
        > a{color: $megamenu-link-hover-color;}
      }
      &:hover > .caret, &:active > .caret{
        color: $megamenu-link-hover-color;
      }
    }     
  }
}

div.verticalmenu {
  .navbar-nav {           
    > li {
      &:hover, &:focus{
        > a{          
          color: $vertical-menu-link-hover;
          background: $vertical-menu-link-bg-hover; 
        }
        > .caret{
          &:before {
            color: $theme-color-secondary;
          }
        }
      }
    }
  }
  .dropdown-menu{
    ul{
      li{
        a {
          &:hover, &:focus {
            color: $vertical-sub-menu-link-hover-color;
          }
        }
      }
    }
  }
  ul {
    li {
      a {
        &:hover,&:focus{
          .menu-title {
            color: $vertical-menu-link-hover;
          }         
          color: $vertical-menu-link-hover;
        }
      }
    }
  }
}

// slideshow
.bannercontainer {
  .button {
    background: $theme-color-secondary;
    .fa {
      color: $theme-color-secondary;
    }
  }
  .tp-bullets.simplebullets.square-old .bullet {
    &:hover, &.selected {
      border: 1px solid $base-hover-border-color;
      background: $theme-color-secondary;
    }
  }
  .tparrows {
    &:hover {
      background: $theme-color-secondary;
    }
  }
}

// product-list

.price, .price-shipping {        
    color: $product-price-color;      
}

.product-block{
	.name{
		a {
        color: $product-name-color;                                     
        &:hover{
            color: $product-name-hover-color;
        }
      }
	}
}

.product_list {
  .product-block {
    .quick-view {
      span {
          &:hover {
              background: $product-icon-bg-hover;
              border: 1px solid $product-icon-bg-hover;
          }
      }
    }
  }
}

.product-label {
  &.product-label-special, &.sale-label{ 
    @include label-variant($product-sale-box-bg); 
  }
  &.sale-percent-box{
     @include label-variant($product-sale-box-bg);
  }
}

#view_scroll_left,
#view_scroll_right {
  &:hover:before{
    color: $scroll-button-hover-color;
  }
}

// product-detail tab
.nav-tabs {
  &.tab-info {
    > li {
        > a {
            &:hover, &:focus {
                color: $theme-color-secondary;
                border-bottom: 3px solid $base-hover-border-color;
            }
        }
    }
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
        color: $theme-color-secondary;
        border-bottom: 3px solid $base-hover-border-color;
    }
  }
}

// menu
.#{$app-brand-prefix}-megamenu {  
  /* menu level 1 */
  .navbar-nav{
    > li {
      &.dropdown {
        > a{
          &:after{
            border-top: 6px solid $megamenu-arrow-bg;
          }
        }
      }
      > a{  
        color: $megamenu-link-color!important;
        &:hover,&:focus,&:active{         
          color: $megamenu-link-hover-color!important;        
          background-color: $megamenu-link-bg-hover-color;
          border-bottom: $megamenu-link-hover-border;
        }
      } 
      &:active{
        > a{color: $megamenu-link-hover-color;}
      }
      > .caret{
        color: $megamenu-link-color  ;
      } 
      &:hover > .caret, &:active > .caret{
        color: $megamenu-link-hover-color;
      }
    }     
  }
}

// off canvas menu
#off-canvas-nav .offcanvas-mainnav{background-color: $theme-color-default;}

// widget

#top_column {
  .block_topcolumn {
    background: $topcolumn-bg;
  }
}

// contact-infor
.contact-info {
  .media {
    &:hover {
      .fa {
        background: $theme-color-secondary;
      }
    }
  }
}

// blog 
.blog_container h5 a {
  color: $theme-color-secondary !important;
}
.blog-menu li a {
  &:hover {
    span {
      color: $theme-color-secondary;
    }
  }
}

// table 
table#product_comparison {
  tbody {
    .remove {
      a {
        &:hover {
            color: $link-hover-color;  
        }
      }
    }
  }
}
#cart_summary {
  tfoot {
    td {
      &#total_price_container {
        color: $product-price-color;
      }
    }
  }
}

#backtop{
    background: $theme-color-secondary;
}
// paneltool
.paneltool .panelcontent {
  .current-layout-mod{
    color: $theme-color-secondary;
  }
  .leo-dynamic-update-header, 
  .leo-dynamic-update-layout {
    &:hover,&.current-header{
      color:$theme-color-secondary;
    }
  }
}
#customize-body .nav-tabs .active a {
  background: $theme-color-secondary;
}
.paneltool {
  .leo-dynamic-update-side{
      &.current-sidebar{
        color: $theme-color-secondary;
      }
  }
  .leo-dynamic-update-header{
    &.current-header{
        color: $theme-color-secondary;
    }
  }
  &.themetool{
    .group-input{
        .leo-dynamic-update-layout,
        .leo-dynamic-update-side,
        .leo-dynamic-update-header {
          &:hover{
            color: $theme-color-secondary;
          }
          &.current-layout-mod{
            color: $theme-color-secondary;
          }
        }
    }
  }
  &.active {
    .panelbutton {
      color: $theme-color-secondary;
    }
  }
}
.enable_fheader {
  &.btn_no{
    &:before{
      background-color:$theme-color-secondary;
    }
  }
  &.btn_yes{
    &:after{
      background-color:$theme-color-secondary;
    }
  }
}