@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutVegetarian.cshtml";
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
}
<div class="dv-metroid">
    <div class="container">
        <div class="header-bottom">
            <div class="header-grids">
                <div class="col-md-3 col-sm-6 col-xs-6 col-min-12 header-grid">
                    <div class="header-img1 header-img wow bounceInLeft animated animated" data-wow-delay="0.4s">
                        <a href="#"><img src="http://demonongnghiep.web30s.vn/datafiles/4252/upload/thumb_images/14750369071798_1384489545_8.jpg" class="img-responsive" alt="Nhóm trái cây"></a>
                        <a href="#"><h4>Đồ chay truyền thống</h4></a>
                        <p>Sản phẩm chay có nguồn góc từ đậu nành, rau củ quả, ...</p>
                    </div>
                </div><div class="col-md-3 col-sm-6 col-xs-6 col-min-12 header-grid">
                          <div class="header-img1 header-img wow fadeInDownBig animated animated" data-wow-delay="0.4s">
                              <a href="#"><img src="http://demonongnghiep.web30s.vn/datafiles/4252/upload/thumb_images/14750370207534_bo-do-choi-rau-cu-qua-trang-tiki-500x500.jpg" class="img-responsive" alt="Nhóm củ, quả"></a>
                              <a href="#"><h4>Đồ chay dưỡng sinh</h4></a>
                              <p>Là nhóm thực phẩm theo phương pháp thực dưỡng - là phương pháp ăn uống và sinh sống thuận theo thiên nhiên.</p>
                              @*lấy triết lý âm dương của Đông phương làm nền tảng và lấy hạt cốc (Trong đó có gạo lức) làm thứ ăn chính để tạo dựng sức khỏe và phát triển trí tuệ.*@
                          </div>
                </div><div class="col-md-3 col-sm-6 col-xs-6 col-min-12 header-grid">
                    <div class="header-img1 header-img wow fadeInUpBig animated animated" data-wow-delay="0.4s">
                        <a href="#"><img src="http://demonongnghiep.web30s.vn/datafiles/4252/upload/thumb_images/14750371694137_GAP2009-500x500.jpg" class="img-responsive" alt="Nhóm cải bắp, rau lá"></a>
                        <a href="#"><h4>Rau củ quả hửu cơ</h4></a>
                        <p>Có rất nhiều cây xoài mọc từ hạt mà không hề thoái hoá mà chất lượng trái xoài vẫn được đảm bảo. Nhiều giống xoài của ta trong hạt có nhiều phôi</p>
                    </div>
                </div><div class="col-md-3 col-sm-6 col-xs-6 col-min-12 header-grid">
                    <div class="header-img1 header-img wow bounceInRight animated animated" data-wow-delay="0.4s">
                        <a href="#"><img src="http://demonongnghiep.web30s.vn/datafiles/4252/upload/thumb_images/14750372251130_20160516152120-trong-rau11.jpg" class="img-responsive" alt="Nhóm rau tạo mùi"></a>
                        <a href="#"><h4>Rau củ quả Đà lạt</h4></a>
                        <p></p>
                    </div>
                </div>				<div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="content">

    <div class="service-section">
        <div class="container">
            @{ Html.RenderAction("_blockProductNew", "Home");}
        </div>
    </div>

    <div class="work-section wow bounceIn animated">
        <div class="container">
            @{ Html.RenderAction("_blockProductFeatures", "Home");}
        </div>
    </div>

    <div class="news-section">
        <div class="container">
            @{ Html.RenderAction("_blockProductHome", "Home");}
        </div>
    </div>

</div>

