@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutVegetarian.cshtml";
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
}
<div class="dv-metroid">
    <div class="container">
        <div class="header-bottom">
            <div class="header-grids">
                <div class="col-md-3 col-sm-6 col-xs-6 col-min-12 header-grid">
                    <div class="header-img1 header-img ">
                        <a href="http://thucphamchayhoaca.com/danh-muc-san-pham/thuc-pham-chay-truyen-thong-16"><img src="@Url.Content("~/Content/images/thuc-pham-chay-truyen-thong-16.jpg")" class="img-responsive" alt="Nhóm trái cây"></a>
                        <a href="http://thucphamchayhoaca.com/danh-muc-san-pham/thuc-pham-chay-truyen-thong-16"><h4>Đồ chay truyền thống</h4></a>
                        <p>Sản phẩm chay có nguồn gốc từ đậu nành, rau củ quả, Liên Tâm, Âu Lạc, Hỷ Lạc, Cát Tường, Trí Huệ,......</p>
                    </div>
                </div><div class="col-md-3 col-sm-6 col-xs-6 col-min-12 header-grid">
                          <div class="header-img1 header-img ">
                              <a href="http://thucphamchayhoaca.com/danh-muc-san-pham/thuc-pham-chay-duong-sinh-17"><img src="@Url.Content("~/Content/images/thuc-pham-chay-duong-sinh-17.jpg")" class="img-responsive" alt="Nhóm củ, quả"></a>
                              <a href="http://thucphamchayhoaca.com/danh-muc-san-pham/thuc-pham-chay-duong-sinh-17"><h4>Đồ chay dưỡng sinh</h4></a>
                              <p>Là nhóm thực phẩm theo phương pháp thực dưỡng - là phương pháp ăn uống và sinh sống thuận theo thiên nhiên như gạo lức và ngũ cốc,...</p>
                              @*lấy triết lý âm dương của Đông phương làm nền tảng và lấy hạt cốc (Trong đó có gạo lức) làm thứ ăn chính để tạo dựng sức khỏe và phát triển trí tuệ.*@
                          </div>
                </div><div class="col-md-3 col-sm-6 col-xs-6 col-min-12 header-grid">
                    <div class="header-img1 header-img ">
                        <a href="http://thucphamchayhoaca.com/danh-muc-san-pham/rao-cu-huu-co-18"><img src="@Url.Content("~/Content/images/rao-cu-huu-co-18.jpg")" class="img-responsive" alt="Nhóm cải bắp, rau lá"></a>
                        <a href="http://thucphamchayhoaca.com/danh-muc-san-pham/rao-cu-huu-co-18"><h4>Rau củ quả hữu cơ</h4></a>
                        <p>Rau Hữu cơ: rau muống, cải xanh, cải ngọt, cải dún, rau dền, mồng tơi, tần ô,...</p>
                    </div>
                </div><div class="col-md-3 col-sm-6 col-xs-6 col-min-12 header-grid">
                    <div class="header-img1 header-img  ">
                        <a href="http://thucphamchayhoaca.com/danh-muc-san-pham/rao-cu-qua-da-lat-20"><img src="@Url.Content("~/Content/images/rao-cu-qua-da-lat-20.jpg")" class="img-responsive" alt="Nhóm rau tạo mùi"></a>
                        <a href="http://thucphamchayhoaca.com/danh-muc-san-pham/rao-cu-qua-da-lat-20"><h4>Rau củ quả Đà lạt</h4></a>
                        <p>Rau sạch & an toàn Đà Lạt: bông cải xanh, bí nụ, Cà chua Beef, măng tây,...</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="content">

    <div class="service-section">
        <div class="container">
            @{ Html.RenderAction("_blockProductNew", "Home");}
        </div>
    </div>

    <div class="work-section  bounceIn animated">
        <div class="container">
            @{ Html.RenderAction("_blockProductFeatures", "Home");}
        </div>
    </div>

    <div class="news-section">
        <div class="container">
            @{ Html.RenderAction("_blockProductHome", "Home");}
        </div>
    </div>

</div>

