
// Box Modules 
// ========================================================================
$block-module-margin-bottom: 			20px !default;
$block-module-padding:				    20px !default;
$block-module-border-color: 			$border-color  !default;

$block-module-heading-border: 			1px solid $border-color !default;
$block-module-heading-transform:        uppercase !default;
$block-module-heading-line-height:      normal !default;
$block-module-heading-font-family:    	$font-custom !default;
$block-module-heading-bg:				$theme-color-secondary !default;
$block-module-heading-padding: 			15px 15px 14px !default;
$block-module-heading-font-weight:		normal !default;
$block-module-heading-font-size:		15px !default;
$block-module-heading-color:			$theme-color-primary !default;
$block-module-content-bg:				$white !default;
$block-module-content-border:			1px solid $border-color !default;
$block-module-content-padding:			0 !default;
$block-module-content-margin:         	1px !default;
$block-module-content-radius:         	0px !default;


$block-module-highlighted-bg			: $theme-color-secondary !default;
$block-module-highlighted-border		: $base-border-color !default;
$block-module-footer-heading-color:  	  #FFFFFF !default; 

$block-product-padding:               0 !default;
$block-heading-letter-spacing:        0 !default; 





$footer-heading-font: 14px !default;
/*  
 * LAYOUT VARIABLES 
 */

// Header
// ========================================================================
$header-bg:  						$white !default;
$header-icon-bg:                    $wild-sand !default;
$header-border-color:               1px solid transparent !default;
$header-heading-color:              $theme-color-secondary !default;
$header-text-color:                 $tundora !default;
$header-link-color: 				$header-text-color !default;
$header-icon-font-size:             $font-size-base + 4 !default;

// Topbar 
// ========================================================================
$topbar-outside-bg: 				#f6f5f5 !default;
$topbar-bg: 						$topbar-outside-bg !default;
$topbar-color: 						$base-body-color !default;
$topbar-font-size: 					$font-size-base - 1 !default;
$topbar-font-family:				$font-family-base !default;
$topbar-font-weight:                300 !default;
$topbar-link-color: 				$base-body-color !default;
$topbar-link-hover-color: 			$theme-color-secondary !default;
$topbar-icon-color: 				$theme-color-default !default;
$topbar-padding: 					0 !default;
$topbar-height:                     auto !default;
$topbar-border:                     1px solid #f6f5f5 !default;

// Mass header 
$masshead-outside-bg :			$theme-color-secondary !default;
$masshead-bg: 			 		$theme-color-secondary !default;
$masshead-content-padding:		8px 0 !default;
$masshead-color:				#aab2bd !default;
$masshead-color-hover:			lighten($theme-color-secondary,5%);

// header main
$headermain-outside-bg :			#ededed !default;
$headermain-bg: 			 		$white !default;
$headermain-content-padding:		8px 0 !default;
$headermain-color:					$header-text-color !default;
$headermain-color-hover:			$link-hover-color;	

// Main menu 
$mainnav-outside-border:		transparent !default;
$mainnav-outside-bg :			$mainnav-outside-border !default;
$mainnav-bg: 			 		$theme-color-secondary !default;
$mainnav-content-padding:		0 !default;
$mainnav-color:					$base-text-color !default;
$mainnav-color-hover:			$theme-color-secondary !default;
$mainnav-content-margin:        0 !default;

// Promotions
$topcolumn-bg:                 $theme-color-secondary;
$topcolumn-text-color:         $white;
$topcolumn-link-color:		   $white;
$topcolumn-headding-color:     $theme-color-primary;
$topcolumn-content-padding:    30px 22px !default;
$topcolumn-headding-padding:   15px 10px;

// sidebar
$block-module-sidebar-heading-color:	$white !default;
$block-module-sidebar-heading-bg:       #393c42 !default;
$block-module-sidebar-content-bg:       $theme-color-secondary !default;
$block-module-sidebar-content-color:    $white !default;
$block-module-sidebar-content-padding:  0px 15px 25px !default;

// block-blue-light
$block-blue-light-headding-color:   #2C8AC8;
$block-blue-light-content-bg:       #3598DB;
$block-blue-light-content-color:    $white;
$block-blue-light-border-color:     #5dade2;

//Main Content

// Footer
// ========================================================================

$footer-outside-bg: 				#2d3035 !default;
$footer-bg: 						#393c42 !default;
$footer-color: 						#a8a8a8 !default;
$footer-heading-font-size: 			$font-size-base + 2!default;
$footer-heading-color: 				$white !default;
$footer-heading-padding:            20px 0 !default;
$footer-link-color: 				#a8a8a8 !default;
$footer-link-hover-color: 			$theme-color-default !default;
$footer-font-size:   	 			$font-size-base !default;
     
$footer-content-padding:            15px !default;
$footer-content-margin:             0 !default;
$footer-list-padding:               6px 0 !default;
$footer-margin:                     20px !default;

 /////// footer top
$footer-top-outside-border:			1px solid #393c42 !default;
$footer-top-outside-bg :			#33363c !default;
$footer-top-bg: 			 		$footer-top-outside-bg !default;
$footer-top-color:					#aab2bd !default;
$footer-top-content-padding:		0 !default;
$footer-top-color-hover:			lighten($footer-top-color,5%);	
$footer-top-border:					#393c42 !default;

/////// footer center 
$footer-center-outside-border:		1px solid #393c42 !default;
$footer-center-outside-bg :			#33363c !default;
$footer-center-bg: 			 		#33363c !default;
$footer-center-content-padding:		0 !default;
$footer-center-color:				#a8a8a8 !default;
$footer-center-color-hover:			$theme-color-secondary;
$footer-center-right-outside-bg:	#33363c !default;
$footer-center-right-bg:	        $footer-center-right-outside-bg !default;
$footer-center-border-color:        #393c42 !default;
$footer-center-headding-color:      $white !default;

/////// footer bottom 
$footer-bottom-outside-bg :			#393c42 !default;
$footer-bottom-bg: 			 		$footer-bottom-outside-bg !default;
$footer-bottom-content-padding:		0 !default;
$footer-bottom-color:				#a8a8a8 !default;
$footer-bottom-color-hover:			$theme-color-secondary !default;	
/////// footer nav 
$footer-nav-outside-bg :			#31343a !default;
$footer-nav-bg: 			 		$footer-nav-outside-bg !default;
$footer-nav-content-padding:		0 !default;
$footer-nav-color:					$theme-color-secondary !default;
$footer-nav-color-hover:			lighten($footer-nav-color,5%);	

// Powered By / Copyright
// ========================================================================
$power-bg:       					$theme-color-secondary !default;
$power-color:                       $footer-color !default;
$power-link-color:                  $theme-color-default !default;
$power-padding:                     $padding-large-vertical * 3.5 !default;
$power-font-family  : 				$font-family-base;
$power-border-color:				#505862;

 
// Responsive
// ========================================================================
$respon-topbar-icon:                $white !default;
$respon-topbar-icon-font-size:      $font-size-base !default;
$respon-topbar-search-bg:           $white !default;
$respon-topbar-search-icon-color:   $black !default;
