
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Tổng quan
}
<div class="row">
    <div class="col-lg-6">
        <h3>Bài viết mới</h3>  
    </div>
    <div class="col-lg-6">        
        <h3>Bài viết được quan tâm</h3>
    </div>
</div>

