<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>
<body>
	<div style="background-color: #f5f5f5; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0; padding-top: 0; padding-bottom: 0; padding-right: 0; padding-left: 0"	bgcolor="#f5f5f5">
	
		<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f5f5f5" align="center" style="border-collapse: collapse">
			<tbody>
				<tr>
					<td width="100%" valign="top" align="center">
						<table cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse">
							<tbody>
								<tr>
									<td width="100%">

										<table width="850" cellspacing="0" cellpadding="0" border="0"	bgcolor="#f5f5f5" align="center" style="border-collapse: collapse">
											<tbody>
												<tr>
													<td width="100%" height="40">&nbsp;</td>
												</tr>
											</tbody>
										</table>


										<table width="850" cellspacing="0" cellpadding="0" border="0" bgcolor="#f5f5f5" style="border-collapse: collapse">
											<tbody>
												<tr>
													<td width="100%">
														<table width="850" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse">
															<tbody>
																<tr>
																	<td width="850">
																		<table width="850" cellspacing="0" cellpadding="0" border="0" align="left" style="border-collapse: collapse">
																			<tbody>
																				<tr>
																					<td valign="middle" align="center" style="padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px; font-size: 12px; font-style: italic; color: #ffffff; font-family: sans-serif; line-height: 22px">
																						<span> 
																						<a target="_blank" style="color: #23a1d1; text-decoration: none; font-weight: normal; font-style: normal" href="#"> 
																							<img width="268" border="0"	style="display: inline-block" src="~/Images/logo.png" class="logo"/>
																						</a>
																					</span>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>


										<table width="850" cellspacing="0" cellpadding="0" border="0" bgcolor="#f5f5f5" align="center" style="border-collapse: collapse">
											<tbody>
												<tr>
													<td width="100%" height="40">&nbsp;</td>
												</tr>
											</tbody>
										</table>

									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- End Header -->
		<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f5f5f5" align="center" style="border-collapse: collapse">
			<tbody>
				<tr>
					<td width="100%" valign="top" align="center">
						<table cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse">
							<tbody>
								<tr>
									<td width="100%">
										<table width="850" cellspacing="0" cellpadding="0" border="0" bgcolor="#ececec"	style="border-radius: 10px !important; border-width: 8px; border-style: solid; border-color: #ececec; border-collapse: separate">
											<tbody>
												<tr>
													<td width="100%">
													
														<table id="0" width="100%" cellspacing="0" cellpadding="0"	border="0" bgcolor="#ffffff" align="center"	style="border-top-right-radius: 6px; border-top-left-radius: 6px; border-collapse: collapse">
															<tbody>
																<tr>
																	<td width="100%" valign="top">
																		<table cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse">
																			<tbody>
																				<tr>
																					<td width="100%">

																						<table width="850" cellspacing="0" cellpadding="0"	border="0" align="center" style="border-collapse: collapse">
																							<tbody>
																								<tr>
																									<td width="100%" height="30">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>

																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
														<!-- End Body head 1 -->

														<table id="1" width="100%" cellspacing="0" cellpadding="0"	border="0" bgcolor="#ffffff" align="center"	style="border-collapse: collapse">
															<tbody>
																<tr>
																	<td width="100%" valign="top">
																		<table cellspacing="0" cellpadding="0" border="0"
																			align="center" style="border-collapse: collapse">
																			<tbody>
																				<tr>
																					<td width="100%">
																						<table width="850" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse">
																							<tbody>
																								<tr>
																									<td width="100%">
																										<table width="850" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse">
																											<tbody>
																												<tr>
																													<td width="30"></td>

																													<td width="760">
																														<table width="760" cellspacing="0"	cellpadding="0" border="0" align="left"	style="border-collapse: collapse">

																															<tbody>
																																<tr>
																																	<td align="left"
																																		style="padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px; font-weight: bold; font-family: sans-serif; color: #999999; font-size: 22px; line-height: 32px">
																																		<p id="title-mail" style="text-align: center; margin-top: 0 !important; margin-bottom: 0 !important; margin-right: 0 !important; margin-left: 0 !important">
																																			Thông tin khách hàng {{CustomerName}}
																																		</p>
																																	</td>
																																</tr>
																																<tr>
																																	<td valign="top" align="left" style="padding-top: 17px"></td>
																																</tr>
																																
																																<tr>
																																	<td align="left" style="padding-bottom: 10px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0; font-size: 13px; color: #555555; font-family: sans-serif; line-height: 18px">																																																																		
																																
																																	<!-- Begin info Order -->	
																																	<table  width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="border-radius: 5px; border-width: 1px; border-style: solid; border-color: #ececec; border-collapse: separate">																																	
																																		<thead>
																																			<tr>
																																				<th colspan="2" align="center" style="border-radius: 5px 5px 0 0; padding: 10px 5px;" bgcolor="#EDEDED">Thông tin đơn hàng</th>																																				
																																			</tr>																																		
																																		</thead>
																																		<tbody>
																																			<tr bgcolor="#FAFAFA">
																																				<td width="50%" style="padding: 8px;">
																																					<strong>Họ Tên:</strong> {{CustomerName}}<br/>                                                                                                                                                  
                                                                                                                                                    <strong>Email:</strong> {{Email}}<br />
                                                                                                                                                    <strong>Địa chỉ:</strong> {{Address}}<br />																																					
																																					<strong>Điện thoại:</strong> {{Phone}}<br/>																																							
																																				</td>																																				
																																				<td width="50%" style="padding: 8px; border-left:1px solid #ececec;">    
                                                                                                                                                    <strong>Tên Công Ty:</strong> {{CompanyName}}<br />                                                                                                                              
																																					<strong>Sản phẩm quan tâm:</strong> {{ProductName}}<br/>																																																																										
																																					<strong>Địa chỉ:</strong> thanhtan.hello@gmail.com<br/>
                                                                                                                                                    <strong>Ngày Xem:</strong> {{CreateDate}}<br />
																																				</td>																																			
																																			</tr>                                                                                                                                                                                                                                                                                       
                                                                                                                                    

																																			<tr bgcolor="#FAFAFA">
																																				<td colspan="2" style="padding: 8px; border-top:1px solid #ececec;">
																																					<strong>Thông tin thêm:</strong> ...<br/>
																																				</td>
																																			</tr>
																																			
																																		</tbody>																																	
																																	</table>
																																	<!-- Begin info Order -->	
																																	
																																	</td>
																																</tr>																															
																														
																																<tr>
																																	<td valign="top" align="left" style="padding-top: 17px"></td>
																																</tr>

																															</tbody>
																														</table>
																													</td>

																													<td width="30"></td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																							</tbody>
																						</table>


																						<table width="850" cellspacing="0" cellpadding="0"	border="0" align="center" style="border-collapse: collapse">
																							<tbody>
																								<tr>
																									<td width="100%" height="40">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>

																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
														<!-- End main content -->

														<table width="100%" cellspacing="0" cellpadding="0"	border="0" bgcolor="#fcfcfc" align="center"	style="border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; border-collapse: collapse">
															<tbody>
																<tr>
																	<td width="100%" valign="top">
																		<table cellspacing="0" cellpadding="0" border="0"
																			align="center"
																			style="border-top-width: 1px; border-top-style: solid; border-top-color: #ececec; border-collapse: collapse">
																			<tbody>
																				<tr>
																					<td width="100%">

																						<table width="850" cellspacing="0" cellpadding="0"
																							border="0" align="center"
																							style="border-collapse: collapse">
																							<tbody>
																								<tr>
																									<td width="100%" height="20">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>

																						<table width="850" cellspacing="0" cellpadding="0"
																							border="0" style="border-collapse: collapse">
																							<tbody>
																								<tr>
																									<td width="100%">
																										<table width="850" cellspacing="0"
																											cellpadding="0" border="0"
																											style="border-collapse: collapse">
																											<tbody>
																												<tr>
																													<td width="30"></td>

																													<td width="760">
																														<table width="760" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse">

																															<tbody>
																																<tr>
																																	<td align="center"	style="padding-bottom: 10px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0; font-size: 13px; color: #aaaaaa; font-family: sans-serif; line-height: 23px">
																																																																				
																																		<p
																																			style="margin-top: 0 !important; margin-bottom: 0 !important; margin-right: 0 !important; margin-left: 0 !important">
																																			<span style="font-size: 12px">
																																			<a target="_blank" style="color: #3a3a3c; font-size: 20px; font-style: normal; font-weight: bold; text-decoration: none;"	href="#">EKE Interior Design</a><br/>
																																			 Office: 21/17 Lý Chính Thắng.P8.Q3.Tp.HCM<br/>	Tel: 08.6674.8018 – Mobile: 0903.727.721
																																			</span>
																																		</p>
																																	</td>
																																</tr>


																																<tr>
																																	<td align="center" style="padding-top: 10px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0; font-size: 13px; color: #aaaaaa; font-family: sans-serif; line-height: 23px">

																																		<span> &nbsp; &nbsp; 
																																		<a	target="_blank"	style="color: #23a1d1; text-decoration: none; font-weight: normal; font-style: normal"
																																			href="#"><img
																																				width="32" border="0" alt="twitter"
																																				src=""
																																				label="twitter" /></a>
																																			&nbsp; <a target="_blank"
																																			style="color: #23a1d1; text-decoration: none; font-weight: normal; font-style: normal"
																																			href="#">                                                                                                                    
                                                                                                                                            <img
																																				width="32" border="0" alt="facebook"
																																				src="~/assets/client/images/facebook_32.png"
																																				label="facebook"/></a>
																																				
																																				&nbsp; <a target="_blank"
																																			style="color: #23a1d1; text-decoration: none; font-weight: normal; font-style: normal"
																																			href="#"><img
																																				width="32" border="0" alt="facebook"
																																				src="http://thietkeweblkv.com/images/social/youtube_32.png"
																																				label="youtube"/></a>
																																			&nbsp; &nbsp; &nbsp;
																																	</span>

																																	</td>
																																</tr>

																															</tbody>
																														</table>

																													</td>

																													<td width="30"></td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																							</tbody>
																						</table>


																						<table width="850" cellspacing="0" cellpadding="0"
																							border="0" align="center"
																							style="border-collapse: collapse">
																							<tbody>
																								<tr>
																									<td width="100%" height="20">&nbsp;</td>
																								</tr>
																							</tbody>
																						</table>

																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>


													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- End Body -->
		<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f5f5f5" align="center" style="border-collapse: collapse">
			<tbody>
				<tr>
					<td width="100%" valign="top">
						<table cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse">
							<tbody>
								<tr>
									<td width="100%">

										<table width="850" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse">
											<tbody>
												<tr>
													<td width="100%" height="30">&nbsp;</td>
												</tr>
											</tbody>
										</table>

										<table width="850" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse">
											<tbody>
												<tr>
													<td width="100%">
														<table width="850" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse">
															<tbody>
																<tr>
																	<td width="760">
																		<table width="850" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse">

																			<tbody>
																				<tr>
																					<td align="center" style="padding-bottom: 10px; margin-top: 0; margin-bottom: 0; margin-right: 0; margin-left: 0; font-size: 13px; color: #aaaaaa; font-family: sans-serif; line-height: 23px">
																						<p style="margin-top: 0 !important; margin-bottom: 0 !important; margin-right: 0 !important; margin-left: 0 !important">
																							<span>Copyright © 2015 Học 3D Max Online.</span>
																						</p>
																					</td>
																				</tr>

																			</tbody>
																		</table>

																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>

										<table width="850" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse">
											<tbody>
												<tr>
													<td width="100%" height="30">&nbsp;</td>
												</tr>
											</tbody>
										</table>

									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- End Footer -->
	</div>

</body>
</html>
