<div id="newsletter" class="panel panel-primary">
    <div class="panel-heading">Nhận tin khuyến mãi</div>
    <div id="newsletter_block_left" class="block inline">
        <div class="block_content" style="">
            <p>Proin gravida nibh velit auctor aliquet dum auctor, nisi elit consequat ipsum sagittis sem elit.</p>
            <div class="">
                <form action="http://www.demo4leotheme.com/prestashop/leo_milk_store/en/" method="post">
                    <div class="input-group">
                        <input class="form-control" id="newsletter-input" type="text" name="email" value="Enter your e-mail">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </span>
                    </div>
                    <input type="hidden" name="action" value="0">
                </form>
            </div>
        </div>
    </div>
</div>
