
<div class="header-top">
    <div class="top-menu">
        @{Html.RenderAction("MainMenu", "Home"); }
        <!-- script for menu -->
        <!--  -->
        <div class="clearfix"> </div>
        <!--  -->
    </div>
    <div class="clearfix"></div>
</div>