
<div class="col-md-3 logo">
    <h1 title="bptchemicals.com">
        <a href="@Request.Url.GetLeftPart(UriPartial.Authority)">
            <img alt="bptchemicals.com" src="~/Images/logo.png" />
        </a>
    </h1>
</div>
