@using OnlineShop.Helpers
@model List<Model.EF.Slide>
@{
    var slides = (List<Model.EF.Slide>)ViewBag.Slides;
    var dot = 0;
    var counter = 0;
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string classWidth = String.Empty;
    string classSubPage = String.Empty;
    if (!String.IsNullOrWhiteSpace(controllerName) && controllerName == "Home")
    {
        classWidth = "width=200";
    }
    else
    {
        classWidth = "width=100";
    }
}

<div class="logo wow bounceIn animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
    <a href="@Url.Action("Index","Home")">@SiteConfiguration.SiteName</a>
</div>

<div class="logo-img">
    <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/images/logo.png")" alt="" @classWidth /></a>
</div>


