
<div class="box-right">        
    
    <div class="moduletable  service-rh pdl10 pdr10 modBorClr1">
        @{ Html.RenderAction("_BlockCategoryProduct", "Home", new { CatId = 9 });}
    </div>
    <div class="moduletable  service-rh pdl10 pdr10 modBorClr2">
        @{ Html.RenderAction("_BlockCategoryProduct", "Home", new { CatId = 10 });}
    </div>
    <div class="moduletable  service-rh pdl10 pdr10 modBorClr3">
        @{ Html.RenderAction("_BlockCategoryProduct", "Home", new { CatId = 11 });}
    </div>
    <div class="moduletable  service-rh pdl10 pdr10 modBorClr4">
        @{ Html.RenderAction("_BlockCategoryProduct", "Home", new { CatId = 12 });}
    </div>
</div>