.product-detail {
    .prodetail-item {
        background-color: #18a667;
        color:#fff;
        padding:5px 10px;
        margin-right:10px;
        span{
            color:#fff;
        }
        .text-active {
            font-weight: bold;
        }
    }
}
