@using Model.ViewModel
@model List<CartItem>
@{
    ViewBag.Title = "Xem đơn hàng";
    Layout = "~/Views/Shared/_LayoutVegetarian.cshtml";
}
@*@section jsFooter{
    <script src="/assets/client/js/controller/cartController.js"></script>
}*@
<div class="CartDetail">
    <div class="section group">        
        <div id="cartList">
            @Html.Partial("partialCart", Model)
        </div>
    </div>
</div>
