@model List<OnlineShop.Models.CartItem>

@{
    var totalPrice = Model.Sum(x => x.Product.Price * x.Quantity);
}
<div id="header_right">
    <div class="blockcart_top clearfix inner pull-right">
        <div id="viewcart" class="shopping_cart">
            @Html.Partial("partialViewCart", Model)
            
        </div>
    </div>
</div>
