@using Model.ViewModel
@using Model.EF
@using System.Globalization;
@using PagedList.Mvc
@model PagedList.IPagedList<v_Product>
@{

    Layout = "~/Views/Shared/_LayoutVegetarian.cshtml";
}

<div class="service-grids">
    @if (Model.Count() > 0)
    {
        <h2 class="type text-center bre_sptintuc">@Model.First().CategoryName</h2>
        foreach (var item in Model)
        {
            @Html.Partial("_blockProductItem", item);
        }
        <div class="clear">
            @Html.PagedListPager(Model, page => Url.Action("Category", new { page }))
        </div>
    }
    else
    {
        <p>Không tìm thấy thông tin sản phẩm</p>
    }
</div>