<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!--<add name="OnlineShopDbContext" connectionString="data source=HOME-PC\SQLEXPRESS;initial catalog=iShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="OnlineShopEntities" connectionString="metadata=res://*/EF.OnlineShopDbContext.csdl|res://*/EF.OnlineShopDbContext.ssdl|res://*/EF.OnlineShopDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.78.2.154,1433;initial catalog=tant4482_db;persist security info=True;user id=tant4482_user;password=T@ntrinh1987;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <appSettings>
    <add key="dbuser" value="tant4482_user"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="dbpass" value="T@ntrinh1987"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="dbserver" value="112.78.2.154,1433"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="dbcatalog" value="tant4482_db"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="catalogueid" value="3"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="pagesize" value="50"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="FromEmailServer" value="tantrinhlienketviet@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FromEmailDisplayName" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FromEmailPassword" value="P@ss1987" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ToEmailAddress" value="thanhtan.hello@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
