@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    @*<img src="~/assets/images/hero-image.png" alt="" asp-append-version="true"/>*@
                </div>
            </div>
        </div>    
</header>





