
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_SubPage.cshtml";
}

@section slide{
    <section id="slider" class="slider box-slideshow">
        <div class="container">
            <div class="col-md-12">               
                    <img class="img-responsive" src="~/Data/images/slide-intro/About-us.jpg" />                
            </div>
        </div>
    </section>
}
<h2>
    <a href="@Url.Content("~/")about-us">
        BPT CHEMICALS GLOBAL - COMPANY PROFILE
    </a>
</h2>
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive text-center" src="~/Data/images/about-us-intro.jpg" />
    </div>
    <div class="col-md-6">
        <img class="img-responsive text-center" src="~/Data/images/Our-Mission-commitent.jpg" />
    </div>
</div>
<p>We are well-known in Lubricant Additive Industry supplying full package of qualified VISCOSITY INDEX IMPROVERS ( BALE form, PELLET form, LIQUID form ) and wide ranges of PPD with hundred tons manufactured & exported monthly.</p>
<p>Head quarter is located in UAE. Three big factories are located in UAE, Viet Nam & Melbourne Australia, 4 main distributor networks in France, Spain, Germany, Benelux with many representative offices worldwide.</p>
<p>Our main markets are USA, South America, Europe ( Ukraine, Spain, German), Middle East (UAE, Saudi Arabia…), Africa ( Nigeria, South Africa,…) Asia (China, India, Singapore,…) and Australia. We have many VII codes with SSI differences according to customer’s demand.</p>
<p>They are amorphous EPM grade, low crystalline and very good for viscosity improvement, professionally tested under international testing standard SAE J300, ASTM D 1646, ASTM D 3900, ASTM 6022 and ASTM D 1416. Exclusively pass all CCS test ( Cold Cracking Simulator )</p>
<p>Viscosity index improvers ( VII ) are manufactured upon the world high-class innovative technology which take leading the worldwide market with the most competitive edge of low pour point VII – low SSI  - cost effective price to get high profit. Therefore our VIIs have been becoming the perfect replacement of high costly traditional raw materials (8900, 0050R, J0010, 7067C, SPO V0 141, SV 260, SV 253, 4-677, …. )</p>
<p>Touching top innovations, VIS - BEST® VII have been successfully launched as the first & the most advanced technology over the world in OCP – PAMA Grafting Technology branded as VIS – BEST V 20 ( in bale / block form ) & L 20 ( in liquid form ) . No need applying PPD ( Pour Point Dispersion ) at the finished lubricants. Excellent SSI from 0 – 35. Pass all CCS Tests. Stable Viscosity Index to save the heavy engine. Challenge any low temperature.</p>
<p>TRUST plays vital role in our business. Being royal member of almost respective Associations in Oils & Lubricants ( such as ILMA – Independent Lubricant Manufacturing Association; STLE – Society of Tribologists & Lubrication Engineering, UEIL – Europe Lubricant Association, RPI Moscow Lubricant Week, ISFL – International Symposium of Fuels & Lubricants in India, INTERLUBRIC China, ICIS UK…) cooperating with regular business visit new clients in worldwide distributor networks have been becoming our main strategy to expand market share & bring more values from raw materials to our customers.</p>
<p>Do not miss good chance to touch new technologies in Lubricant Additives, should need any queries or inquiries please feel free to contact us or visit us in below outstanding events:</p>
<a target="_blank" href="http://www.rpi-conferences.com//en/lubricants-week">-http://www.rpi-conferences.com//en/lubricants-week</a><br />
<a target="_blank" href="http://isflindia.in/">-http://isflindia.in/</a><br />
<a target="_blank" href="https://www.ilma.org/events/mgmtforum15/sponsorship/thankyou.cfm">-https://www.ilma.org/events/mgmtforum15/sponsorship/thankyou.cfm</a><br />
<a target="_blank" href="http://www.feilub.com.br/menu-expositor/menu-posicao-stands.html">-http://www.feilub.com.br/menu-expositor/menu-posicao-stands.html</a><br />
<a target="_blank" href="http://www.interlubric.com/">-http://www.interlubric.com/</a><br />
<h3><strong>Thank you and wish to receive your response soon !</strong></h3>